<!doctype html>
<html lang="en">

<!-- HEAD -->

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
<meta charset="UTF-8">
<link rel="canonical" href="https://www.jacovip.com/JacoBeachVacationRentals/Blue-Marlin-2.html" />
<title>Blue Marlin Private Party Vacation Rental in Jaco Costa Rica</title>
<meta name="Description" content="The Blue Marlin Private Party Vacation Rental Complex in Jaco Center. Half a block to the beach, Cocal Casino, bars and restaurants.">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@JacoVIP" />
<meta name="twitter:title" content="Jaco VIP Private Party Complex in the center of Jaco Beach Costa Rica" />
<meta name="twitter:description" content="BEST Location in Jaco! Across from Cocal Casino, WALK to Beach, Restaurants, Bars, Clubs, Groceries, Pharmacies, Souvenirs and more." />
<meta name="twitter:image" content="https://www.jacovip.com/images/CostaRicaVacationRentals/Blue-Marlin-2-Jaco.jpg" />
<meta name="twitter:image:alt" content="Blue Marlin Private Party Complex in Jaco Center." />

<meta property="og:title" content="Jaco VIP Private Party Complex in the center of Jaco Beach Costa Rica" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.jacovip.com/JacoBeachVacationRentals/Blue-Marlin-2.html" />
<meta property="og:image" content="https://www.jacovip.com/images/CostaRicaVacationRentals/Blue-Marlin-2-Jaco.jpg" />
<meta property="og:description" content="BEST Location in Jaco! Across from Cocal Casino, WALK to Beach, Restaurants, Bars, Clubs, Groceries, Pharmacies, Souvenirs and more." />

<link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/new_css/main.css"/>
<link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/new_css/sitewide.css"/>
<link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/new_css/vacation_rentals.css"/>

<script src="../../../assets/scripts/carousel.js" defer></script>

<link rel="shortcut icon" type="image/png" href="images/VIP-favicon.png"/>
<link rel="apple-touch-icon" href="https://www.jacovip.com/images/icon-1.png">
</head>

<!-- BODY -->

<!-- REMEMBER TO FINISH THE FOOTER -->

<body>

	<!-- HEADER -->

	<header class="sitewide-header">
		<a href="../JacoBeachVacationRentals.html"><img class="img-fluid" src="/app/assets/images/to_be_sorted/JacoVIP-Logo1.jpg" alt="Jaco VIP Logo" width="434" height="139" border="0"></a>
		<div class="header-info">
			<p>jaco vip costa rica</p>
			<p>call toll free: 800-676-0717</p>
			<p>Email: info@jacovip.com</p>
		</div>
	</header>

	<!-- RENTAL HERO SECTION -->

	<section class="rental-hero-section">
		<picture>
			<img class="img-fluid" src="/app/assets/images/to_be_sorted/Blue-Marlin-2-Jaco.jpg" 
			alt="10 Deluxe Rooms at The Blue Marlin Private Hotel" 
			title="The Blue Marlin Private Villa" height="600" width="1800">
		</picture>
		<h1>blue marlin private party complex</h1>
		<h2><strong>The Blue Marlin</strong>PRIVATE Party Complex in Jaco Center!</h2>
		<p>TOTAL OF 10 BEDROOMS / 13 BEDS	 • MAXIMUM OCCUPANCY IS 25 PEOPLE.</p>
	</section>

	<!-- RENTAL ARTICLE -->

	<article class="rental-article">
		<div class="rental-article-top-container">
			<div class="container">
				<h2>Location:</h2>
				<p>
					On the same property as
					<a href="../hotel-blue-marlin-jaco-costa-rica.html"
					title="The Blue Marlin Hotel" target="new"
					class="BlizzardBlue">The Blue Marlin Hotel</a>
					and Republik Night Club. This is the Best location in the center of town.
					Only a few steps to the
	
					<a href="../Hotel-Cocal-Jaco-CostaRica.html"
					title="The Cocal Casino and Hotel" target="new"
					class="BlizzardBlue">Cocal Casino</a>
					, Jaco Beach, Famous
	
					<a href="../PartyLikeARockStar.html"
					title="Nightlife in Jaco" target="new"
					class="BlizzardBlue">Jaco Nightlife</a>
					with Discos, Clubs, Bars, and Restaurants, as well as Shopping, Groceries,
					Liquor Store, Pharmacies, and more.
				</p>
			</div>
	
			<div class="container">
				<h2>Accomadations</h2>
				<p>10 completely updated bedrooms with A/C, safe box, TV and new en-suite bathroom. There is a total of 13 Beds (7 Kings and 6 Doubles). 
					10 Full Bathrooms + 1 half bath next to the pool. Max occupancy is 25.</p>
			</div>
		</div>

		

		<h3>Recently renovated property</h3>
		<p>
			With new management, this entire property was completely renovated and
			updated with brand-new bathrooms, as well as new beds, mattresses,
			custom furniture, TVs, linens and bath towels.
		</p>

		<p>
			The closed in Living Room includes A/C, sofas, pool table, long bar with
			bar stools, TV, and large commercial beer fridge. There is also a half
			bathroom on the side of the building which is ideal for guests and serves
			the living room, pool and rancho areas.
		</p>

		<p>
			There is a brand new private swimming pool with lounge chairs on the
			surrounding deck. The Rancho is equipped with lighting and electrical
			outlets for charging phones and laptops, as well as 2 large tables with
			chairs for outdoor eating, drinking and entertaining.
		</p>

		<p>
			The Equipped Kitchen is available for guest to use. It includes a fridge,
			stove, microwave, coffee maker, plates, cups etc - pretty much everything
			needed to prepare meals on your own, or by a Jaco VIP chef.
		</p>

		<p>
			In The Heart of the Action!! This is a great place for

			<a href="../CostaRicaBachelorParty.html"
			title="Costa Rica Bachelor Party" target="new"
			class="BlizzardBlue">bachelor party</a>

			groups looking to be in the center of the action.
			Anything you might be looking for during your vacation in Jaco is within
			walking distance from this central location.
		</p>

		<p>
			<strong>Includes VIP Table Service with 2 Bottles at Republik Lounge:</strong>
			VIP Table with Bottle Service (2 Bottles included - some limitations apply)
		 	at Republik Lounge (Best Club in Jaco).
		</p>

		<p>
			<strong>Please Note:</strong> There are noise restrictions in Jaco,
			but this property includes Republik Night Club and is right in the middle
			of town center and surrounded by clubs, bars and live music restaurants.
			Also, this property is attached to a party friendly boutique hotel

			(<a href="../hotel-blue-marlin-jaco-costa-rica.html"
			title="The Blue Marlin Hotel" target="new"
			class="BlizzardBlue"><u>The Blue Marlin</u></a>)

			which uses the same overnight doorman. The two properties are completely
			private and separate from each other, but be aware that poolside noise,
			sound and music does travel across.
		</p>

		<p>
			<a href="../JacoBeachVacationRentals.html">
			<strong> >> CLICK BACK TO VACATION RENTALS HOME PAGE</strong></a>
			<span> : OR </span>

			Fill in the

			<a href="../contact/index.php">
			<span class="Orange">contact form</span></a>

			to start planning your vacation now!
		</p>

	</article>

	<!-- RENTAL DETAILS SECTION -->

	<section class="rental-details-section">
		<div class="rental-details-photos-container">
			<img class="" src="../images/Blue-Marlin-2/Aerial-1.jpg" alt="Aerial view of The Blue Marlin 2 and Jaco Beach">
			<img class="" src="../images/Blue-Marlin-2/Exterior-1.jpg" alt="Entrance and balcony to rooms">
			<img class="" src="../images/Blue-Marlin-2/Rancho-1.jpg" alt="Straight on view of rancho and swimming pool">
			<img class="" src="../images/Blue-Marlin-2/Rancho-2.jpg" alt="Swimming pool and rancho area with view of Vista Mar condo building">
		</div>

		<div class="rental-details-info-container">
			<h2>BLUE MARLIN PPC</h2>
			<div class="rental-season-price-container">

			</div>
			<div class="rental-season-price-container">

			</div>
			<div class="rental-season-price-container">

			</div>
			<p>Please Note</p>
			<ul>
				<li>Prices listed up to a maximum of 25 people.</li>
				<li>Prices listed do not include fees, transportation and gratuities.</li>
				<li>Prices are subject to change. Call or email for an exact and up-to-date quote.</li>
			</ul>
			<p>details & features</p>
			<ul>
				<li>Location Location Location! Downtown Jaco Center</li>
				<li>Next to Casino, Beach, Clubs, Restaurants, etc...</li>
				<li>10 Bedrooms with AC, TV, En-Suite Bathroom, and safe box</li>
				<li>10 Full Bathrooms [Plus 1 Half Bath]</li>
				<li>Total of 13 Beds [7 Kings + 6 Doubles]</li>
				<li>Living Room with sofas, bar, TV and AC</li>
				<li>Private Swimming Pool</li>
				<li>Rancho with Seating Area</li>
				<li>Equipped Kitchen for preparing meals</li>
				<li>Linens, Towels, Appliances, Cookware</li>
				<li>WiFi throughout the property</li>
				<li>Light Daily Housecleaning and Pool Maintenance</li>
				<li>Overnight Doorman</li>
			</ul>

			<p>bed distribution:</p>
			<p>10 Bedrooms / 13 Beds Max occupancy is 25.</p>


			<p>First Floor Bedrooms:</p>
			<ol>
				<li>Bedroom 1: 1 King Size Bed</li>
				<li>Bedroom 2: 1 King Size Bed</li>
				<li>Bedroom 3: 1 King Size Bed</li>
				<li>Bedroom 4: 1 King Size Bed</li>
				<li>Bedroom 5: 2 Double Beds</li>
			</ol>

			<p>Second Floor Bedrooms:</p>
			<ol>
				<li>Bedroom 6: 1 King Size Bed</li>
				<li>Bedroom 7: 1 King Size Bed</li>
				<li>Bedroom 8: 2 Double Beds</li>
				<li>Bedroom 9: 2 Double Beds</li>
				<li>Bedroom 10: 1 King Size Bed</li>
			</ol>

		</div>
	</section>
 <!-- DO NOT EDIT BELOW THIS LINE  -->
	<section class="rental-gallery-section">

		<div class="carousel" data-carousel>
			<button class="carousel-btn prev" data-carousel-button="prev">&#171;</button>
			<button class="carousel-btn next" data-carousel-button="next">&#187;</button>
			<ul data-slides>
				<li class="slide" data-active><img src="/app/assets/images/vacation_rentals/blue_marlin/Pool-2.jpg" 
					alt="Swimming pool with guests playing inflatable ball"></li>
				<li class="slide"><img src="/app/assets/images/vacation_rentals/blue_marlin/Pool-1.jpg" 
					alt="Girl hanging out at swimming pool"></li>
				<li class="slide"><img src="/app/assets/images/vacation_rentals/blue_marlin/Pool-3.jpg" 
					alt="Rancho area with tables and chairs"></li>
				<li class="slide"><img src="/app/assets/images/vacation_rentals/blue_marlin/Kitchen-1.jpg" 
					alt="View of rancho, pool and living room window"></li>
				<li class="slide"><img src="/app/assets/images/vacation_rentals/blue_marlin/Living-Room-1.jpg" 
					alt="Rancho area with tables and chairs"></li>
				<li class="slide"><img src="/app/assets/images/vacation_rentals/blue_marlin/Living-Room-2.jpg" 
					alt="View of rancho, pool and living room window"></li>
				<li class="slide"><img src="/app/assets/images/vacation_rentals/blue_marlin/Living-Room-3.jpg" 
					alt="Living Room area with sofas and tables"></li>
				<li class="slide"><img src="/app/assets/images/vacation_rentals/blue_marlin/Living-Room-4.jpg" 
					alt="Tables and chairs in living room"></li>
			</ul>
		</div>

		<h2><strong>10 NEWLY RENOVATED ROOMS WITH LARGE MODERN EN-SUITE BATHROOMS!</strong></h2>
		<p>The 5 bedrooms on the 1st floor have a total of 6 beds. Four of the rooms have a king size bed, and one of the rooms has 2 double beds.</p>

		<div class="carousel" data-carousel>
			<button class="carousel-btn prev" data-carousel-button="prev">&#171;</button>
			<button class="carousel-btn next" data-carousel-button="next">&#187;</button>
			<ul data-slides>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-exterior-1.jpg" 
					alt="Exterior hallway with green wooden chair"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-1.jpg" 
					alt="King bedroom with large TV"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-2.jpg" 
					alt="Bedroom door open to outside"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-5.jpg" 
					alt="King size bed with large desk and TV"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-4.jpg" 
					alt="Comfortable Bedroom with blue wall and blue accent pillows"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-bathroom-3.jpg" 
					alt="Bathroom with grey counters"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-bathroom-1.jpg" 
					alt="Corner view of bathroom and shower"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-bathroom-2.jpg" 
					alt="Split view of bathroom and bedroom"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-4-exterior-1.jpg" 
					alt="Exterior entrance to bedroom number 4"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-4-1.jpg" 
					alt="King bed in bedroom number 4"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-4-2.jpg" 
					alt="Open door and curtains"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-4-3.jpg" 
					alt="Corner view of king size bed and open door"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-4-4.jpg" 
					alt="Blue wall in bedroom with painting of flowers"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-4-bathroom-1.jpg" 
					alt="Exterior entrance to bedroom number 4"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-5-3.jpg" 
					alt="Bedroom with 2 queen size beds"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-5-2.jpg" 
					alt="2 double beds with blue bed runners and blue accent pillows"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-5-1.jpg" 
					alt="Bedroom number 5 with open door"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-5-4.jpg" 
					alt="2 black sofa chairs with large TV facing bed"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-5-bathroom-1.jpg" 
					alt="En suite bathroom"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-5-bathroom-2.jpg" 
					alt="Safe box in the bathroom"></li>		
			</ul>
		</div>

		<div class="carousel" data-carousel>
			<button class="carousel-btn prev" data-carousel-button="prev">&#171;</button>
			<button class="carousel-btn next" data-carousel-button="next">&#187;</button>
			<ul data-slides>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-exterior-1.jpg" 
					alt="Exterior hallway with green wooden chair"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-1.jpg" 
					alt="King bedroom with large TV"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-2.jpg" 
					alt="Bedroom door open to outside"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-5.jpg" 
					alt="King size bed with large desk and TV"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-4.jpg" 
					alt="Comfortable Bedroom with blue wall and blue accent pillows"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-bathroom-3.jpg" 
					alt="Bathroom with grey counters"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-bathroom-1.jpg" 
					alt="Corner view of bathroom and shower"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-1-bathroom-2.jpg" 
					alt="Split view of bathroom and bedroom"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-4-exterior-1.jpg" 
					alt="Exterior entrance to bedroom number 4"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-4-1.jpg" 
					alt="King bed in bedroom number 4"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-4-2.jpg" 
					alt="Open door and curtains"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-4-3.jpg" 
					alt="Corner view of king size bed and open door"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-4-4.jpg" 
					alt="Blue wall in bedroom with painting of flowers"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-4-bathroom-1.jpg" 
					alt="Exterior entrance to bedroom number 4"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-5-3.jpg" 
					alt="Bedroom with 2 queen size beds"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-5-2.jpg" 
					alt="2 double beds with blue bed runners and blue accent pillows"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-5-1.jpg" 
					alt="Bedroom number 5 with open door"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-5-4.jpg" 
					alt="2 black sofa chairs with large TV facing bed"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-5-bathroom-1.jpg" 
					alt="En suite bathroom"></li>
				<li class="slide"><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-5-bathroom-2.jpg" 
					alt="Safe box in the bathroom"></li>		
			</ul>
		</div>

		<h2><strong>10 NEWLY RENOVATED ROOMS WITH LARGE MODERN EN-SUITE BATHROOMS!</strong></h2>
		<p>The 5 bedrooms on the 2nd floor have a total of 7 beds. Three of the rooms have a king size bed, and two of the rooms have 2 double beds each.</p>

		<div class="carousel" data-carousel>
			<button class="carousel-btn prev" data-carousel-button="prev">&#171;</button>
			<button class="carousel-btn next" data-carousel-button="next">&#187;</button>
			<ul data-slides>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-6-3.jpg" 
					alt="and floor bedroom with open door"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-6-1.jpg" 
					alt="King bedroom with blue accent wall"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-6-4.jpg" 
					alt="Comfortable Bedroom with large desk"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-6-2.jpg" 
					alt="King bedroom with large TV"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-7-exterior-1.jpg" 
					alt="Exterior entrance to bedroom number 7"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-7-1.jpg" 
					alt="Bedroom 7 with king size bed"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-7-2.jpg" 
					alt="Blue accessories on king size bed"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-7-3.jpg" 
					alt="Large desk and TV in bedroom"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-7-4.jpg" 
					alt="Corner view of room"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-7-bathroom-2.jpg" 
					alt="En suite bathroom with grey and black tile"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-8-1.jpg" 
					alt="Bedroom number 8 with 2 double size beds"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-8-2.jpg" 
					alt="2 double beds with blue accent pillows"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-8-3.jpg" 
					alt="2 red leather sofas in bedroom"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-8-4.jpg" 
					alt="Bedroom with large TV"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-9-1.jpg" 
					alt="Comfortable Bedroom with 2 double beds"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-9-2.jpg" 
					alt="Bedroom with large TV and 2 sofa chairs"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-9-3.jpg" 
					alt="Open curtains and door"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-9-4.jpg" 
					alt="Blue accent wall and blue accessories in bedroom"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-9-bathroom-1.jpg" 
					alt="Bathroom with yellow lighting and safe box"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-9-bathroom-2.jpg" 
					alt="Private bathroom"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-10-1.jpg" 
					alt="Comfortable Bedroom with seating"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-10-2.jpg" 
					alt="King bedroom number 10"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-10-3.jpg" 
					alt="King size bed"></li>
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-10-4.jpg" 
					alt="King bedroom with 2 black sofa chairs and large TV"></li>	
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-10-bathroom-1.jpg" 
					alt="White sink on grey counter"></li>		
				<li class="slide" data-active><img src="../../../assets/images/vacation_rentals/blue_marlin/bedroom-10-bathroom-2.jpg" 
					alt="En suite bathroom for bedroom number 10"></li>	
			</ul>
		</div>

	</section>

	<footer>
					<div class="col-sm-6 text-center"><a href="../JacoBeachVacationRentals.html"><img class="img-fluid" src="../images/JacoVIP-Logo1.jpg" width="434" height="139" alt="Jaco VIP logo and link back to vacation rentals page"></a></div>
					
						JACO BEACH, COSTA RICA
						VACATION RENTALS WITH JACO VIP</div>
						YOUR #1 SOURCE FOR GROUP VACATION PLANNING</div>
						<strong>CALL TOLL FREE# </strong>  <strong> 800-676-0717</strong> [Rings in Costa Rica]>
						<strong>CONTACT:</strong>  Send us <a href="../contact/index.php"><strong>a message</strong></a> to start planning your vacation now!

				
					
						<a href="../JacoBeachVacationRentals.html">Vacation Rentals Home</a>
						<a href="../CostaRicaBachelorParty.html">Bachelor Party Packages</a>
						<a href="../CostaRicaFishingCharters.html">Fishing Charters</a>
						<a href="../JacoBeachToursCostaRica.html">Tours &amp; Day Trips</a>
						<a href="../travel-info-costa-rica.html">FAQ</a>
						<a href="../JacoVIPAdvantage.html">VIP Services</a>
				
	</footer>

</body>                 
</html>
