
:root {

  --clr-primary-200: #000000;
  --clr-primary-400: #000000;

  --clr-neutral-100: #000000;
  --clr-neutral-900: #000000;

  --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Playfair Display', serif;

}

*, *::before, *::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}
