
:root {

  --clr-primary-200: #000000;
  --clr-primary-400: #000000;

  --clr-neutral-100: #000000;
  --clr-neutral-900: #000000;

  --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Futura Light', serif;

  --header-height: 3rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

p {
  margin-bottom: 0.5rem;
}

section, article, header, footer {
  background-color: white;
}

@font-face {
  font-family: "Futura Light";
  src: url(../../fonts/futura\ light\ bt.ttf);
}