body {
    background-color: black;
}

.rental-hero-section {
    border-bottom: 1px solid black;
}

.rental-article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-inline: 0.25rem;
    padding-inline: 0.5rem;
}

.rental-article-top-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.rental-season-container {
    height: 10rem;
    width: 95%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-bottom: 1rem;
}

.rental-season-price-container {
    height: 4rem;
    background-color: #F0F0FF;
    color: black;
    border: 1px white solid;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.rental-img-display-container {
    
}