body {
    background-color: black;
}

.rental-hero-section {
    border-bottom: 1px solid black;
}

.rental-article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-inline: 0.25rem;
    padding-inline: 0.5rem;
}

.rental-article-top-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.rental-season-container {
    height: 10rem;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;
}

.rental-season-price-container {
    height: 4rem;
    background-color: grey;
    border: 1px white solid;
    
}